<div class="row">
<form action="/pokemon/<%=@pokemon.id%>">
<div class="col-xs-6 pokegrid">
    <img class="<%= @pokemon.shiny %>" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=PokedexController.img_index(@pokemon.pokedex_number)%>.png">
</div>
<div class="col-xs-6 poke-bio">
    <h1><%= @pokemon.name.capitalize %>  <%=PokedexController.img_index(@pokemon.pokedex_number)%></h1>
    <p>
    Type: <%= @pokemon.type_1.capitalize %><% if @pokemon.type_2 != nil%>, <%= @pokemon.type_2.capitalize %><% end %><br>
    Height: <%= @pokemon.height %><br>
    Weight: <%= @pokemon.weight %><br>
    Level: <%= @pokemon.level %><br>
    </p>
    <input type="submit" class="btn btn-warning" value="Complete Training">
    
</div>
</div>
<hr>
<div class="row poke-stats">
<div class="col-md-4 col-xs-6">
    <h3>Health</h3>
    <input type="range" name="hp" min="1" max="300">
    <p><%= @pokemon.hp %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Attack</h3>
    <p><%= @pokemon.attack %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Speed</h3>
    <p><%= @pokemon.speed %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Defense</h3>
    <p><%= @pokemon.defense %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Sp. Attack</h3>
    <p><%= @pokemon.special_attack %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Sp. Defense</h3>
    <p><%= @pokemon.special_defense %></p>
</div>
</form>
</div>