<div class="row">
    <div class="col-xs-12 text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-md">
                <%if @active.to_i - 1 == 0%>
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <%else%>
                <li>
                    <a href="<%=@active.to_i - 1%>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <%end%>
                <% @navlinks.each do |i| %>
                <% if @active == i.to_s %>
                    <li class="active"><a href="<%=i%>"><%=i%></a></li>
                <% else %>
                <li><a href="<%=i%>"><%=i%></a></li> 
                <% end %>
                <% end %>
                <%if @active.to_i + 1 == 41%>
                <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <%else%>
                <li>
                <a href="<%=@active.to_i + 1%>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <%end%>
            </ul>
        </nav>
    </div>
</div>  

<div class="row">
    <% @pokelist.each.with_index(@index) do |pokemon, i| %>
    <div class="col-sm-3 col-xs-6  poke-grid text-center">
        <a href="/pokedex/pokemon/<%=i%>">
            <div class="inner">
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=img_index(i)%>.png">
                <%= pokemon.capitalize %><br><%=img_index(i)%></p>
            </div>
        </a>
    </div>
    <% end %>
</div>

<<div class="row">
    <div class="col-xs-12 text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-md">
                <%if @active.to_i - 1 == 0%>
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <%else%>
                <li>
                    <a href="<%=@active.to_i - 1%>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <%end%>
                <% @navlinks.each do |i| %>
                <% if @active == i.to_s %>
                    <li class="active"><a href="<%=i%>"><%=i%></a></li>
                <% else %>
                <li><a href="<%=i%>"><%=i%></a></li> 
                <% end %>
                <% end %>
                <%if @active.to_i + 1 == 41%>
                <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <%else%>
                <li>
                <a href="<%=@active.to_i + 1%>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <%end%>
            </ul>
        </nav>
    </div>
</div> 