<div class="row">
    <div class="col-sm-6 pokegrid">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=PokedexController.img_index(@pokemon.id)%>.png">
    </div>
    <div class="col-sm-6 poke-bio">
        <br>
        <h1><%= @pokemon.name.capitalize %>  <%=PokedexController.img_index(@pokemon.id)%></h1>
        <br>
        <p>
        Type: <%= @pokemon.type_1.capitalize %><% if @pokemon.type_2 != nil%>, <%= @pokemon.type_2.capitalize %><% end %><br>
        Height: <%= @pokemon.height/10.to_f %> m<br>
        Weight: <%= @pokemon.weight/10.to_f %> kg<br>
        Level: <%= @pokemon.level %><br>
        </p>

        <form method="post" action="/pokedex/pokemon/<%=@pokemon.id%>">
            <input class="btn btn-success" type="submit" value="Catch">
        </form>
        
    </div>
</div>

<hr>
<div class="row poke-stats">
<div class="col-md-4 col-xs-6">
    <h3>Health</h3>
    <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= @pokemon.hp %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Attack</h3>
    <p><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> <%= @pokemon.attack %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Speed</h3>
    <p><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> <%= @pokemon.speed %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Defense</h3>
    <p><span class="glyphicon glyphicon-tower" aria-hidden="true"></span> <%= @pokemon.defense %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Sp. Attack</h3>
    <p><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> <%= @pokemon.special_attack %></p>
</div>
<div class="col-md-4 col-xs-6">
    <h3>Sp. Defense</h3>
    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> <%= @pokemon.special_defense %></p>
</div>
</div>