<div class="row trainer">
<% @trainers.each do |trainer| %>
    <% if pokemon = trainer.pokemon[-1] %>

            <div class="col-xs-12 col-sm-6 pokegrid trainer-last">
                <img class="<%= pokemon.shiny %>" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=img_index(pokemon.pokedex_number)%>.png"> 

                <a href="/trainers/<%=trainer.id%>"><h4>@<%=trainer.username%></h4></a>
                <%=trainer.email%>
                <br>
                Pokemon Caught: <%= trainer.pokemon.size %>
                <br>
                Last Pokemon: <%= pokemon.name.capitalize %>
                <hr>
            
        </div>
    <% end %>
<% end %>
</div>