<div class="row trainer">
<% @trainers.each do |trainer| %>
    <% if pokemon = trainer.pokemon.last %>

            <div class="col-xs-12 col-sm-6 pokegrid trainer-last">
                <a href="/trainers/<%=trainer.id%>"><img class="<%= pokemon.shiny %>" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=img_index(pokemon.pokedex_number)%>.png"></a>

                <h4><a href="/trainers/<%=trainer.id%>">@<%=trainer.username%></a></h4>
                <%=trainer.email%>
                <br>
                Pokemon Caught: <%= trainer.pokemon.size %>
                <br>
                Last Pokemon: <a href="/pokemon/<%=pokemon.id%>"><%= pokemon.name.capitalize %></a>
                <hr>
            
        </div>
    <% end %>
<% end %>
</div>