<div class="row trainer-info">
    <div class="col-xs-12">
        <h3>@<%= @trainer.username %> <a href="/trainers/<%=@trainer.id%>/edit"><span class="glyphicon glyphicon-pencil small" aria-hidden="true"></span>
    </a></h3>
        <%=@trainer.email%>
        <br>Pokemon Caught: <%= @pokemon.size %>
        <%if @pokemon.size >= 30 %>
        <br>Elite Trainer
        <%elsif @pokemon.size >= 10 %>
        <br>Veteran Trainer
        <%else%>
        <br>Novice Trainer
        <% end %>
    </div>
</div>
<hr>
<div class="row">
<% @pokemon.each do |p| %>
<div class="col-sm-3 col-xs-6  poke-grid text-center">
    <a href="/pokemon/<%= p.id %>">
        <div class="inner">
        <img class="<%= p.shiny %>" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/<%=img_index(p.pokedex_number)%>.png">
            <%=p.name.capitalize %><br>Level:<%= p.level %>
        </div>
    </a>
</div>

<% end %>

</div>